@charset "UTF-8";



* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: bisque;
}

header {
    background-color: lightgray;
}

header > h1 {
    padding: 10px;
    text-align: center;
}

i#burguer {
    display: block;
    background-color: rgb(73, 73, 73);
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color: rgb(255, 255, 255);  
    background-color: darkslategray;
}

menu a:hover {
    background-color: lightgray;
    color: black;
}

main {
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 10px;   
}

article h2 {
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 10px;
    color: black;
}

article p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}